<%- include('./partials/header.ejs')%>
<title>Home</title>
<%- include('./partials/navbar.ejs')%>

<div class="logOpt">
  <i class="fa-solid fa-user fa-1x"></i>
  <% if (logOption=='logout') { %>
  <a href="/logout" class="nav-link active">
    <strong><%= logOption %></strong>
  </a>
  <% } else { %>
  <a href="/login" class="nav-link active"
    ><strong> <%= logOption %></strong>
  </a>
  <% } %>
</div>

<div class="mainCon">
  <div class="f-img">
    <img
      class="img-fluid"
      src="https://img.freepik.com/free-vector/flat-people-asking-questions-illustration_23-2148910626.jpg?w=740&t=st=1680004080~exp=1680004680~hmac=afd648dd432bc2ed0db53a09d7a706a9b6411cd0f144bf05cb9003128b2ff649"
      alt=""
    />
  </div>
  <div class="info">
    <center>
      <h1>Welcome !</h1>
      <p>You can curate tests related to scholarship exam on this platform!</p>
      <p>Log In / Sign Up to start contributing!</p>
    </center>
  </div>
</div>
<%- include('./partials/footer.ejs')%>
